<div>{{ title | uppercase }}</div>
<br />

<br />
<!-- date pipe -->
<p>Today is {{ today | date : "full" | uppercase }}</p>

<!-- currency pipe -->
<p>To learn the Angular course the fee is {{ fee | currency : "INR" }}</p>

<!--slice pipe -->
<p>Sliced array {{ stateOptions | slice : 2 : 4 }}</p>

<hr />
<label>Name : </label>
<input type="text" [(ngModel)]="name" />
<br />

<p *ngIf="!name">Please enter your name</p>

<app-dropdown
  [stateOptions]="stateOptions"
  (stateSelected)="onStateSelected($event)"
>
</app-dropdown>
<p *ngIf="!selectedState">Please enter your state</p>

<!-- Property binding 
 @Input()-->
<app-table
  [columns]="tableColumns"
  [data]="items"
  (itemClicked)="onItemClicked($event)"
></app-table>

<button *ngIf="name" [disabled]="!name || !selectedState" (click)="confirm()">
  Confirm
</button>
